@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-assistant: 44, 193, 158;
  --color-user: 44,193,158;

}

.heroImage {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('/assets/images/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}